<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etusivu</title>
</head>

<body>

    <div
        style="display: flex; justify-content: space-between; align-items: center; padding-right: 5%; padding-left: 5%; padding-top: 5%;">
        <h1>Etusivu</h1>
        <div style="display: flex; justify-content: center; padding:50px">
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Kirjaudu ulos" class="btn btn-sm btn-danger" />
            </form>
        </div>
    </div>

    
    <div style="display: flex; justify-content: center; padding-top: 2%;">
        <h2>Tervetuloa, <span sec:authentication="name"></span>!</h2>
    </div>

    <div sec:authorize="hasAuthority('ADMIN')" style="display: flex; justify-content: center; padding-top: 2%;">
        <a class="btn btn-success" style="margin-right: 2%;" href="/reseptit">Reseptit</a>
        <a class="btn btn-success" style="margin-left: 2%;" href="/ainesosat">Ainesosat</a>
        <a class="btn btn-success" style="margin-left: 2%;" href="/kategoriat">Kategoriat</a>
    </div>


</body>

</html>