<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reseptit</title>
</head>
<body>
    <h1>Reseptit</h1>
    <table>
        <thead>
            <tr>
                <th>Nimi</th>
                <th>Ainesosa</th>
                <th>Kategoria</th>
                <th>Ohje</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="resepti : ${reseptit}">
                <td th:text="${resepti.nimi}"></td>
                <td th:text="${resepti.ainesosa.ainesosaNimi}"></td>
                <td th:text="${resepti.kategoria.kategoriaNimi}"></td>
                <td th:text="${resepti.ohje}"></td>
            </tr>
        </tbody>
    </table>
</body>
<a href="/index" class="btn btn-primary">Takaisin</a>
</html>
